## pandas 学习笔记--数据读取、查询与新增

### 01 总结
+ 安装 pip3 install pandas
+ jupyter lab 交互式演示神器
    + 安装 pip3 install jupyterlab
+ vscode 非常好用的IDE，支持项目开发，支持jupyter
+ 课程资源地址: https://github.com/dlutfrank/ant-learn-pandas.git

### 02 数据读取
#### 2.1 csv数据读取
+ 直接读取

In [1]:
import pandas as pd

In [14]:
fpath = '../datas/ml-latest-small/ratings.csv'
ratings = pd.read_csv(fpath)

In [15]:
# 查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

+ 指定分割符、列名读取

In [4]:
pvuv = pd.read_csv('../datas/crazyant/access_pvuv.txt', 
sep='\t', 
header=None,
names=['date', 'pv', 'uv'], 
# index_col=['date'],
parse_dates=['date'])

In [5]:
pvuv

        date   pv   uv
0 2019-09-10  139   92
1 2019-09-09  185  153
2 2019-09-08  123   59
3 2019-09-07   65   40
4 2019-09-06  157   98
5 2019-09-05  205  151
6 2019-09-04  196  167
7 2019-09-03  216  176
8 2019-09-02  227  148
9 2019-09-01  105   61

In [6]:
pvuv.dtypes

date    datetime64[ns]
pv               int64
uv               int64
dtype: object

In [7]:
pvuv.index

RangeIndex(start=0, stop=10, step=1)

In [8]:
pvuv.columns

Index(['date', 'pv', 'uv'], dtype='object')

+ 统计数据

In [12]:
pvuv.describe()

               pv          uv
count   10.000000   10.000000
mean   161.800000  114.500000
std     53.132539   50.273143
min     65.000000   40.000000
25%    127.000000   68.750000
50%    171.000000  123.000000
75%    202.750000  152.500000
max    227.000000  176.000000

In [9]:
#对某一列求均值
pvuv['pv'].mean()

161.8

In [10]:
#计算数据列相关系数，取值范围[-1,1]，1为正相关，-1为负相关
pvuv.corr()

          pv        uv
pv  1.000000  0.947536
uv  0.947536  1.000000

In [11]:
pvuv.cov()

             pv           uv
pv  2823.066667  2531.000000
uv  2531.000000  2527.388889

+ 读取excel数据

In [14]:
excel_pvuv = pd.read_excel('../datas/crazyant/access_pvuv.xlsx')
excel_pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

+ 读取mysql

### 03 & 04 数据查询
#### Series查询

In [15]:
# 通过字典构造Series
sdata = {'Ohio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}
ss = pd.Series(sdata)
ss

Ohio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

In [16]:
ss.index

Index(['Ohio', 'Texas', 'Oregon', 'Utah'], dtype='object')

In [17]:
ss.values

array([35000, 72000, 16000,  5000])

In [18]:
type(ss['Ohio'])

numpy.int64

In [20]:
# 查询单个值
ss['Ohio']

35000

In [21]:
# 查询多个值
ss[['Ohio','Oregon']]

Ohio      35000
Oregon    16000
dtype: int64

#### DataFrame查询
+ loc，根据索引查询
+ iloc，根据位置查询
+ df.query方法
+ df.where方法

In [23]:
data={
        'state':['Ohio','Ohio','Ohio','Nevada','Nevada'],
        'year':[2000,2001,2002,2001,2002],
        'pop':[1.5,1.7,3.6,2.4,2.9]
    }
df = pd.DataFrame(data)
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [24]:
# 根据列名查询
df['state']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: state, dtype: object

In [25]:
# 查询多个列
df[['state', 'year']]

    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002

In [27]:
# 根据行索引查询
df.loc[1]

state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object

In [28]:
# 查询多行
df.loc[2:3]

    state  year  pop
2    Ohio  2002  3.6
3  Nevada  2001  2.4

In [59]:
tq = pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")
tq.set_index('ymd',inplace=True)
tq.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

In [62]:
# 查询单个值，后面的查询都可以根据这个推导过来
tq.loc['2018-01-01', 'aqi']

59

In [42]:
# 查询行
tq.loc[['2018-01-01','2018-02-05']] # 等同于 tq.loc[['2018-01-01','2018-02-05'],:]

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-02-05     0℃   -10℃      晴        北风   3-4级   24       优         1

In [45]:
# 行列组合查询
tq.loc[['2018-01-01','2018-02-05'],['tianqi', 'aqi']]

           tianqi  aqi
ymd
2018-01-01   晴~多云   59
2018-02-05      晴   24

In [47]:
# 获取指定几列数据
tq.loc[:,['aqi','tianqi']]

            aqi tianqi
ymd
2018-01-01   59   晴~多云
2018-01-02   49   阴~多云
2018-01-03   28     多云
2018-01-04   28      阴
2018-01-05   50   多云~晴
...         ...    ...
2018-12-27   48   多云~晴
2018-12-28   40      晴
2018-12-29   29      晴
2018-12-30   31   晴~多云
2018-12-31   56     多云

[365 rows x 2 columns]

In [63]:
# 切片查询
tq.loc['2018-02-04':'2018-03-01','bWendu':'aqi']

           bWendu  yWendu tianqi fengxiang fengli  aqi
ymd
2018-02-04     1℃      -8      晴       西南风   1-2级   36
2018-02-05     0℃     -10      晴        北风   3-4级   24
2018-02-06     3℃      -7   多云~阴       西南风   1-2级   56
2018-02-07     2℃     -10   多云~晴        北风   4-5级   63
2018-02-08     3℃      -7     多云        南风   3-4级   67
2018-02-09     4℃      -9     多云       西北风   4-5级   93
2018-02-10     1℃      -9      晴       西北风   3-4级   39
2018-02-11     0℃      -9      晴       西北风   4-5级   62
2018-02-12     5℃      -7      晴       西北风   1-2级   53
2018-02-13     8℃      -4   晴~多云        西风   1-2级   78
2018-02-14     6℃      -6     多云        北风   1-2级   42
2018-02-15     5℃      -5     多云       西南风   1-2级   48
2018-02-16     8℃      -5   晴~多云       西南风   1-2级  118
2018-02-17     5℃      -4   多云~阴        南风   1-2级  103
2018-02-18     8℃      -3     多云        南风   1-2级  148
2018-02-19     6℃      -3     多云        南风   1-2级  183
2018-02-20     5℃      -5      晴        北风   1-2级   76
2018-02-21     8℃      -4      晴        南风   1-2级   53
2018-02-22     9℃      -4     多云       西南风   1-2级   42
2018-02-23    10℃      -4     多云       东北风   1-2级   45
2018-02-24     3℃      -6   多云~晴        南风   1-2级   66
2018-02-25     6℃      -4     多云       西南风   1-2级   73
2018-02-26    12℃      -1   晴~多云       西南风   1-2级  157
2018-02-27     7℃       0      阴        东风   1-2级  220
2018-02-28     9℃      -2   多云~晴       西南风   3-4级  139
2018-03-01     8℃      -3     多云       西南风   1-2级   46

+ 根据条件表达式查询，bool列表的长度等于行数或者列数

In [70]:
tq.loc[tq['aqi'] < 20]

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,bWenduN
ymd,,,,,,,,,
2018-01-23,-4℃,-12,晴,西北风,3-4级,31,优,1,-4
2018-01-24,-4℃,-11,晴,西南风,1-2级,34,优,1,-4
2018-01-25,-3℃,-11,多云,东北风,1-2级,27,优,1,-3
2018-12-26,-2℃,-11,晴~多云,东北风,2级,26,优,1,-2
2018-12-27,-5℃,-12,多云~晴,西北风,3级,48,优,1,-5
2018-12-28,-3℃,-11,晴,西北风,3级,40,优,1,-3
2018-12-29,-3℃,-12,晴,西北风,2级,29,优,1,-3
2018-12-30,-2℃,-11,晴~多云,东北风,1级,31,优,1,-2

+ 使用函数查询

In [76]:
tq.loc[lambda df: (df['aqi'] > 20) & (df['aqi'] < 30), 'bWendu':'aqi']

           bWendu  yWendu tianqi fengxiang fengli  aqi
ymd
2018-01-01     3℃      -6   晴~多云       东北风   1-2级   59
2018-01-02     2℃      -5   阴~多云       东北风   1-2级   49
2018-01-03     2℃      -5     多云        北风   1-2级   28
2018-01-04     0℃      -8      阴       东北风   1-2级   28
2018-01-05     3℃      -6   多云~晴       西北风   1-2级   50
...           ...     ...    ...       ...    ...  ...
2018-12-21    10℃      -2   晴~多云       西北风     1级   98
2018-12-22     8℃      -6     多云       西北风     2级  106
2018-12-23     1℃      -9      晴       西北风     3级  106
2018-12-24     2℃      -8      晴       西南风     1级  106
2018-12-25     2℃      -9      晴       东北风     2级   94

[257 rows x 6 columns]

In [84]:
# 编写自己查询的函数
def dateFun(df):
    return df.index.str.startswith('2018-09') & (df["aqiLevel"]==1)

tq.loc[dateFun,:] # 等同于tq.loc[dateFun]

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,bWenduN
ymd,,,,,,,,,
2018-09-01,27℃,19,阴~小雨,南风,1-2级,50,优,1,27
2018-09-04,31℃,18,晴,西南风,3-4级,24,优,1,31
2018-09-05,31℃,19,晴~多云,西南风,3-4级,34,优,1,31
2018-09-06,27℃,18,多云~晴,西北风,4-5级,37,优,1,27
2018-09-07,27℃,16,晴,西北风,3-4级,22,优,1,27
2018-09-08,27℃,15,多云~晴,北风,1-2级,28,优,1,27
2018-09-15,26℃,15,多云,北风,3-4级,42,优,1,26
2018-09-16,25℃,14,多云~晴,北风,1-2级,29,优,1,25
2018-09-17,27℃,17,多云~阴,北风,1-2级,37,优,1,27
2018-09-18,25℃,17,阴~多云,西南风,1-2级,50,优,1,25
2018-09-21,25℃,14,晴,西北风,3-4级,50,优,1,25
2018-09-22,24℃,13,晴,西北风,3-4级,28,优,1,24
2018-09-23,23℃,12,晴,西北风,4-5级,28,优,1,23
2018-09-24,23℃,11,晴,北风,1-2级,28,优,1,23
2018-09-25,24℃,12,晴~多云,南风,1-2级,44,优,1,24
2018-09-29,22℃,11,晴,北风,3-4级,21,优,1,22
2018-09-30,19℃,13,多云,西北风,4-5级,22,优,1,19

#### 数据查询总结
+ loc方式的查询都是以df.loc\[a,b\]的形式扩展的.
+ a代表的是行的条件约束，b代表的是列的条件约束，b如果没有约束，可以省略不写，适用于任意情况
    + 当a和b为索引(列名)的时候，查询的是某一个值，比如df.loc\['2018-09-30','aqi'\]
    + 条件约束为多个数据的时候，需要用\[\]包起来，比如df.loc\[:,\['aqi', 'tianqi'\]\]或者df.loc\[\['2018-09-23', '2018-09-30'\],:\]，这里最后的列如果没有约束，可以省略不写df.loc\[\['2018-09-23', '2018-0930'\]\]
    + 当条件约束为区间的时候，可以直接写，比如df.loc\['n':'n+3', 'aqi':'aqiLevel'\]

### 数据新增
1. 直接赋值
2. apply
3. assign

In [1]:
import pandas as pd
tq = pd.read_csv("../datas/beijing_tianqi/beijing_tianqi_2018.csv")
tq.set_index('ymd',inplace=True)

In [2]:
# 通过两种方式直接赋值
tq['bWenduN'] = tq['bWendu'].str.replace('℃','').astype('int32')
tq.loc[:,'yWendu'] = tq['yWendu'].str.replace('℃','').astype('int32')
tq['diff'] = tq['bWenduN'] - tq['yWendu']
tq.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,bWenduN,diff
ymd,,,,,,,,,,
2018-01-01,3℃,-6,晴~多云,东北风,1-2级,59,良,2,3,9
2018-01-02,2℃,-5,阴~多云,东北风,1-2级,49,优,1,2,7
2018-01-03,2℃,-5,多云,北风,1-2级,28,优,1,2,7
2018-01-04,0℃,-8,阴,东北风,1-2级,28,优,1,0,8
2018-01-05,3℃,-6,多云~晴,西北风,1-2级,50,优,1,3,9

+ apply方法

Apply a function along an axis of the DataFrame.

Objects passed to the function are Series objects whose index is either the DataFrame’s index (axis=0) or the DataFrame’s columns (axis=1)

在一个轴上应用函数，传给函数的参数是整行(axis = 0)或者整列(axis = 1)

In [3]:
def get_wd_type(x):
    # print(x)
    if x['bWenduN'] > 33:
        return 'High'
    elif x['yWendu'] < -10:
        return 'Low'
    else:
        return 'Normal'
tq['wenduType'] = tq.apply(get_wd_type, axis=1)
tq.head()
# 这里axis等于1的时候，print(x)输出的是每行的数据

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,bWenduN,diff,wenduType
ymd,,,,,,,,,,,
2018-01-01,3℃,-6,晴~多云,东北风,1-2级,59,良,2,3,9,Normal
2018-01-02,2℃,-5,阴~多云,东北风,1-2级,49,优,1,2,7,Normal
2018-01-03,2℃,-5,多云,北风,1-2级,28,优,1,2,7,Normal
2018-01-04,0℃,-8,阴,东北风,1-2级,28,优,1,0,8,Normal
2018-01-05,3℃,-6,多云~晴,西北风,1-2级,50,优,1,3,9,Normal

In [8]:
tq.wenduType.value_counts()

Normal    328
High       29
Low         8
Name: wenduType, dtype: int64

+ assign方法

Assign new columns to a DataFrame.

Returns a new object with all original columns in addition to new ones.

assign方法不会改变原有DataFrame，会返回一个新的DataFrame

In [4]:
tq.assign(
    bhua = lambda x: (x['bWenduN'] + 127),
    yhua = lambda x: (x['yWendu'] + 127)
)

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,bWenduN,diff,wenduType,bhua,yhua
ymd,,,,,,,,,,,,,
2018-01-01,3℃,-6,晴~多云,东北风,1-2级,59,良,2,3,9,Normal,130,121
2018-01-02,2℃,-5,阴~多云,东北风,1-2级,49,优,1,2,7,Normal,129,122
2018-01-03,2℃,-5,多云,北风,1-2级,28,优,1,2,7,Normal,129,122
2018-01-04,0℃,-8,阴,东北风,1-2级,28,优,1,0,8,Normal,127,119
2018-01-05,3℃,-6,多云~晴,西北风,1-2级,50,优,1,3,9,Normal,130,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,-5℃,-12,多云~晴,西北风,3级,48,优,1,-5,7,Low,122,115
2018-12-28,-3℃,-11,晴,西北风,3级,40,优,1,-3,8,Low,124,116
2018-12-29,-3℃,-12,晴,西北风,2级,29,优,1,-3,9,Low,124,115
2018-12-30,-2℃,-11,晴~多云,东北风,1级,31,优,1,-2,9,Low,125,116
2018-12-31,-2℃,-10,多云,东北风,1级,56,良,2,-2,8,Normal,125,117

In [11]:
# 条件赋值
# tq['wenchaType'] = ''
tq.loc[tq['diff'] > 5,'wenchaType'] = 'Big'
tq.loc[tq['diff'] <= 5, 'wenchaType'] = 'Small'
tq['wenchaType'].value_counts()

Big      346
Small     19
Name: wenchaType, dtype: int64