### 统计函数
1. 汇总类
2. 唯一值
3. 协方差和相关系数

In [1]:
import pandas as pd
fpath = "../datas/beijing_tianqi/beijing_tianqi_2018.csv"
df = pd.read_csv(fpath)

In [2]:
df['hw'] = df['bWendu'].str.replace('℃','').astype('int32')
df['lw'] = df['yWendu'].str.replace('℃','').astype('int32')
df['diff'] = df['hw'] - df['lw']
df.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw,diff
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6,9
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5,7
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5,7
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8,8
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6,9

In [4]:
# 汇总类
df.describe()

              aqi    aqiLevel          hw          lw        diff
count  365.000000  365.000000  365.000000  365.000000  365.000000
mean    82.183562    2.090411   18.665753    8.358904   10.306849
std     51.936159    1.029798   11.858046   11.755053    2.781233
min     21.000000    1.000000   -5.000000  -12.000000    2.000000
25%     46.000000    1.000000    8.000000   -3.000000    8.000000
50%     69.000000    2.000000   21.000000    8.000000   10.000000
75%    104.000000    3.000000   29.000000   19.000000   12.000000
max    387.000000    6.000000   38.000000   27.000000   18.000000

In [5]:
# 对单列进行统计
# df['aqi'].mean()
# df['aqi'].std()
df['aqi'].count()

365

In [6]:
# 唯一值
df['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [7]:
# 统计值
df['fengxiang'].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

#### 协方差和相关系数

用途（超级厉害）： 1. 两只股票，是不是同涨同跌？程度多大？正相关还是负相关？ 2. 产品销量的波动，跟哪些因素正相关、负相关，程度有多大？

来自知乎，对于两个变量X、Y： 1. 协方差：衡量同向反向程度，如果协方差为正，说明X，Y同向变化，协方差越大说明同向程度越高；如果协方差为负，说明X，Y反向运动，协方差越小说明反向程度越高。 2. 相关系数：衡量相似度程度，当他们的相关系数为1时，说明两个变量变化时的正向相似度最大，当相关系数为－1时，说明两个变量变化的反向相似度最大

In [8]:
# 相关系数，[-1,1]，越接近0相关性越低
df.corr()

               aqi  aqiLevel        hw        lw      diff
aqi       1.000000  0.948883  0.077067  0.026513  0.216523
aqiLevel  0.948883  1.000000  0.071999  0.021822  0.214740
hw        0.077067  0.071999  1.000000  0.972292  0.154142
lw        0.026513  0.021822  0.972292  1.000000 -0.081106
diff      0.216523  0.214740  0.154142 -0.081106  1.000000

In [9]:
df['aqi'].corr(df['diff'])

0.2165225757638205

In [10]:
df.cov()

                  aqi   aqiLevel          hw          lw       diff
aqi       2697.364564  50.749842   47.462622   16.186685  31.275937
aqiLevel    50.749842   1.060485    0.879204    0.264165   0.615038
hw          47.462622   0.879204  140.613247  135.529633   5.083614
lw          16.186685   0.264165  135.529633  138.181274  -2.651641
diff        31.275937   0.615038    5.083614   -2.651641   7.735255

In [12]:
# 抽样
df.sample(4)

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw,diff
286,2018-10-14,21℃,10℃,多云,南风,1-2级,177,中度污染,4,21,10,11
182,2018-07-02,32℃,23℃,多云~雷阵雨,东南风,3-4级,66,良,2,32,23,9
343,2018-12-10,1℃,-6℃,多云,东北风,1级,79,良,2,1,-6,7
233,2018-08-22,28℃,21℃,雷阵雨~多云,西南风,1-2级,48,优,1,28,21,7

In [14]:
df['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [16]:
dummies = pd.get_dummies(df['fengxiang'], prefix='fx')

In [21]:
# df['fengxiang']获取到的是Series
# df[['fengxiang']]是DataFrame
df[['fengxiang']].join(dummies)

    fengxiang  fx_东北风  fx_东南风  fx_东风  fx_北风  fx_南风  fx_西北风  fx_西南风  fx_西风
0         东北风       1       0      0      0      0       0       0      0
1         东北风       1       0      0      0      0       0       0      0
2          北风       0       0      0      1      0       0       0      0
3         东北风       1       0      0      0      0       0       0      0
4         西北风       0       0      0      0      0       1       0      0
..        ...     ...     ...    ...    ...    ...     ...     ...    ...
360       西北风       0       0      0      0      0       1       0      0
361       西北风       0       0      0      0      0       1       0      0
362       西北风       0       0      0      0      0       1       0      0
363       东北风       1       0      0      0      0       0       0      0
364       东北风       1       0      0      0      0       0       0      0

[365 rows x 9 columns]