### 数据清洗
#### 缺失值处理
1. 判断缺失值
    + isnull, notnull
2. 缺失值的填充
    + dropna(axis=0,how='any',thresh=None,subset=None,inplace=Flase)
    how: any|all,thresh至少保留多少数据,subset只检测对应的列或者行
3. 缺失值的删除
    + fillna(value,method='None',axis=None,inplace=False,limit=None,downcast=None)
    value: 值或者dict，method: 'ffill','bfill'

In [ ]:
import pandas as pd
import openpyxl
studf = pd.read_excel("../datas/student_excel/student_excel.xlsx", skiprows=2)
studf

In [ ]:
# 移除所有的空行
studf.dropna(axis=0, how='all', inplace=True)
studf

In [ ]:
# 移除所有空列
studf.dropna(axis=1, how='all', inplace=True)
studf

In [ ]:
# 填充分数
studf.fillna({'分数': 0.0},inplace=True)
studf

In [ ]:
# 填充姓名
studf['姓名'].fillna(method='ffill', inplace=True)
# 等同于 studf['姓名'] = studf['姓名'].fillna(method='ffill', inplace=True)
studf

In [ ]:
# save
studf.to_excel("../datas/student_excel/student_excel_demo.xlsx", index=False)

#### 排序
+ Series排序 Series.sort_values(ascending=True, inplace=False)
+ DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)
by: 标签或者标签数组

In [25]:
tq = pd.read_csv('../datas/beijing_tianqi/beijing_tianqi_2018.csv')
tq['hw'] = tq['bWendu'].str.replace('℃','').astype('int32')
tq['lw'] = tq['yWendu'].str.replace('℃','').astype('int32')
tq.head()

,ymd,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw
0,2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6
1,2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5
2,2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5
3,2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8
4,2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6

In [26]:
tq.set_index('ymd', inplace=True)
tq.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw
ymd,,,,,,,,,,
2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6
2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5
2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5
2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8
2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6

In [27]:
tq.sort_index(inplace=True, ascending=True)
tq.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw
ymd,,,,,,,,,,
2018-01-01,3℃,-6℃,晴~多云,东北风,1-2级,59,良,2,3,-6
2018-01-02,2℃,-5℃,阴~多云,东北风,1-2级,49,优,1,2,-5
2018-01-03,2℃,-5℃,多云,北风,1-2级,28,优,1,2,-5
2018-01-04,0℃,-8℃,阴,东北风,1-2级,28,优,1,0,-8
2018-01-05,3℃,-6℃,多云~晴,西北风,1-2级,50,优,1,3,-6

In [28]:
# 多列排序
tq.sort_values(by=['aqi', 'aqiLevel'], inplace=True, ascending=False)
tq.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw
ymd,,,,,,,,,,
2018-03-28,25℃,9℃,多云~晴,东风,1-2级,387,严重污染,6,25,9
2018-03-14,15℃,6℃,多云~阴,东北风,1-2级,293,重度污染,5,15,6
2018-03-13,17℃,5℃,晴~多云,南风,1-2级,287,重度污染,5,17,5
2018-04-02,26℃,11℃,多云,北风,1-2级,287,重度污染,5,26,11
2018-11-14,13℃,5℃,多云,南风,1-2级,266,重度污染,5,13,5

In [31]:
# 多列指定不同的顺序
tq.sort_values(by=['aqi','hw'],inplace=True, ascending=[True, False])
tq.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,hw,lw
ymd,,,,,,,,,,
2018-09-29,22℃,11℃,晴,北风,3-4级,21,优,1,22,11
2018-10-09,15℃,4℃,多云~晴,西北风,4-5级,21,优,1,15,4
2018-09-07,27℃,16℃,晴,西北风,3-4级,22,优,1,27,16
2018-09-30,19℃,13℃,多云,西北风,4-5级,22,优,1,19,13
2018-10-29,15℃,3℃,晴,北风,3-4级,22,优,1,15,3