## pandas 学习笔记

### 01 总结
+ 安装 pip3 install pandas
+ jupyter lab 交互式演示神器
    + 安装 pip3 install jupyterlab
+ vscode 非常好用的IDE，支持项目开发，支持jupyter
+ 课程资源地址: https://github.com/dlutfrank/ant-learn-pandas.git

### 02 数据读取
#### 2.1 csv数据读取
+ 直接读取

In [1]:
import pandas as pd

In [14]:
fpath = '../datas/ml-latest-small/ratings.csv'
ratings = pd.read_csv(fpath)

In [15]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

+ 指定分割符、列名读取

In [24]:
pvuv = pd.read_csv('../datas/crazyant/access_pvuv.txt', 
sep='\t', 
header=None,
names=['date', 'pv', 'uv'], 
# index_col=['date'],
parse_dates=['date'])

In [25]:
pvuv

        date   pv   uv
0 2019-09-10  139   92
1 2019-09-09  185  153
2 2019-09-08  123   59
3 2019-09-07   65   40
4 2019-09-06  157   98
5 2019-09-05  205  151
6 2019-09-04  196  167
7 2019-09-03  216  176
8 2019-09-02  227  148
9 2019-09-01  105   61

In [21]:
pvuv.dtypes

pv    int64
uv    int64
dtype: object

In [22]:
pvuv.index

DatetimeIndex(['2019-09-10', '2019-09-09', '2019-09-08', '2019-09-07',
               '2019-09-06', '2019-09-05', '2019-09-04', '2019-09-03',
               '2019-09-02', '2019-09-01'],
              dtype='datetime64[ns]', name='date', freq=None)